<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />

   <style>
     body {
       display: flex;
       flex-direction: column;
       min-height: 100vh;
       margin: 0;
     }

     .content {
       flex: 1;
     }
   </style>

   <title>Edit Coupon - Product Admin Template</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
   <link rel="stylesheet" href="/product-admin-master/css/fontawesome.min.css" />
   <link rel="stylesheet" href="/product-admin-master/css/bootstrap.min.css" />
   <link rel="stylesheet" href="/product-admin-master/css/templatemo-style.css" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
 </head>

 <body id="editCouponPage">
   <!-- Navigation Bar -->
   <nav class="navbar navbar-expand-xl bg-warning">
     <div class="container h-100">
       <a class="navbar-brand" href="/admin/dashboardForAdmin">
         <h1 class="tm-site-title mb-0">Product Admin</h1>
       </a>
       <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fas fa-bars tm-nav-icon"></i>
       </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <!-- Your existing navbar content... -->
       </div>
     </div>
   </nav>

   <!-- Coupon Edit Form -->
   <%if(editedCoupon){ %>
   <div class="content card container" style=" background-color:  rgb(217, 217, 217);">
     <h1 class="mb-3" style="text-align: center; display: flex;">Update the  coupon</h1><hr>
    
     
     <form action="/admin/couponEditBackPost" method="POST">
       <div class="form-row">

         <div class="form-group col-md-6">
            
           <label for="couponCode">Coupon Code:</label>
           <input type="text" id="couponCode" name="couponCode" class="form-control" placeholder="Enter coupon code" value="<%= editedCoupon.couponCode %>"  />

         </div>

         <div class="form-group col-md-6">
           <label for="expiryDate">Expiry Date:</label>
           <input type="date" id="expiryDate" name="expiryDate" class="form-control" value="<%= editedCoupon.expiryDate %>"  />
           <% if(message){%>
            <span style="color: red;"><%= message %></span>
            <%}%>

         </div>

       </div>

       <div class="form-row">
        
         <div class="form-group col-md-6">
           <label for="productDiscount">productDiscount:</label>
           <div class="input-group">
             <input type="number" id="productDiscount" name="productDiscount" step="0.01" class="form-control" placeholder="Enter discount amount" value="<%= editedCoupon.productDiscount %>"  />
             <div class="input-group-append">
               <span class="input-group-text">%</span>
             </div>
           </div>
         </div>

         <div class="form-group col-md-6">
           <label for="minimumPurchaseValue">Minimum Purchase Value:</label>
           <div class="input-group">
             <input type="number" id="minimumPurchaseValue" name="minimumPurchaseValue" step="0.01" class="form-control" placeholder="Enter minimum purchase value" value="<%= editedCoupon.minimumPurchaseValue %>"  />
             <div class="input-group-append">
               <span class="input-group-text">₹</span>
             </div>
           </div>
           <% if(errorMessage){ %>
            <span style="color: red;"><%= errorMessage %></span>
            <% } %>
         </div>

       </div>
   

       <button type="submit" id="updateButton" class="btn btn-primary">Update</button>
     </form>
<% } %>

   </div>



   <!-- Footer -->
   <footer class="tm-footer row tm-mt-small">
     <div class="col-12 font-weight-light">
       <p class="text-center text-white mb-0 px-4 small">
         Copyright  <b></b> All rights reserved by ShopCartify:
         <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
       </p>
     </div>
   </footer>

  

   <!-- <script>
    function editCoupon(couponCode) {
        console.log("editPost coupon code is :", couponCode);
    
        const url = `admin/couponEditBackPost/${encodeURIComponent(couponCode)}`;
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ couponCode: couponCode }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log('Edit response:', data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
      
    }

   </script> -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

   <script>
document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector('form');
    const validationModal = new bootstrap.Modal(document.getElementById('validationModal'));

    form.addEventListener('submit', function (event) {
        const couponCode = document.getElementById('couponCode').value.trim();
        const expiryDate = new Date(document.getElementById('expiryDate').value);
        const productDiscount = parseFloat(document.getElementById('productDiscount').value);
        const minimumPurchaseValue = parseFloat(document.getElementById('minimumPurchaseValue').value);

        if (couponCode === '' || isNaN(productDiscount) || isNaN(minimumPurchaseValue)) {
            event.preventDefault();
            validationModal.show();
        } else if (productDiscount < 1 || productDiscount > 100 || minimumPurchaseValue <= 1 || expiryDate < new Date()) {
            event.preventDefault();
            validationModal.show();
        }
    });
});

  </script>

  
    
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <!-- Scripts -->
   <script src="/product-admin-master/js/jquery-3.3.1.min.js"></script>
   <script src="/product-admin-master/js/bootstrap.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqV```
