<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>Return Orders - Product Admin Template</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
   <link rel="stylesheet" href="/product-admin-master/css/fontawesome.min.css" />
   <link rel="stylesheet" href="/product-admin-master/css/bootstrap.min.css" />
   <link rel="stylesheet" href="/product-admin-master/css/templatemo-style.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 </head>

 <body id="returnOrdersPage">
   <!-- Navigation Bar -->
   <nav class="navbar navbar-expand-xl">
    <div class="container h-100">
        <a class="navbar-brand" href="/admin/dashboardForAdmin">
            <h1 class="tm-site-title mb-0">Product Admin</h1>
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/dashboardForAdmin">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-file-alt"></i>
                        <span>
                            Reports <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Daily Report</a>
                        <a class="dropdown-item" href="#">Weekly Report</a>
                        <a class="dropdown-item" href="#">Yearly Report</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/productlist">
                        <i class="fas fa-shopping-cart"></i>
                        Products
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/usermanage">
                        <i class="far fa-user"></i>
                        user
                    </a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link " href="/admin/returnOrderManage">
                        <i class="fas fa-reply-all"></i>
                            Returns 
                    </a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link " href="/admin/couponmanage">
                      <i class="fas fa-ticket-alt"></i> <!-- Ticket Icon -->
                      Coupons                   
                  </a>
               </li>

               <li class="nav-item">
                <a class="nav-link" href="/admin/couponAddingGet">
                  <i class="fas fa-plus-circle"></i> <!-- Plus Circle Icon -->
                  Add Coupons
                </a>
              </li>


            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link d-block" href="/admin/logout">
                        Admin, <b>Logout</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<!-- Coupon Manage Table -->
<div class="container mt-5">
    <div class="row tm-content-row">
      <div class="col-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <h2 class="tm-block-title">Coupon Management</h2>
          <p class="text-white">Coupon Management</p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Serial Number</th>
                <th>Coupon Code</th>
                <th>Expiry Date</th>
                <th>Added Date</th>
                <th>product Discount</th>
                <th>Minimum Purchase Value</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                
              <% couponDetails.forEach((coupon, index) => { %>
                <tr class="bg-light">
                  <td><%= index + 1 %></td>
                  <td><%= coupon.couponCode %></td>
                  <td><%= coupon.expiryDate %></td>
                  <td><%= coupon.addedDate %></td>
                  <td>%<%= coupon.productDiscount %></td>
                  <td>₹<%= coupon.minimumPurchaseValue %></td>
                  <td>
                   <button class="btn btn-warning" id="editButton" onclick="editCoupon('<%= coupon.couponCode %>')">Edit</button> <hr>
                   <button class="btn btn-warning fa fa-bars" id="deleteButton" onclick="deleteCoupon('<%= coupon.couponCode %>')">Delete</button>
                   <p id="resultMessage<%= coupon.couponCode %>" style="display: none;"></p>
                  </td>
                </tr>
              <% }) %>

            </tbody>
          </table>
        </div>   
      </div>
    </div>
   </div>

   <script>//coupon editting get and post 
function editCoupon(couponCode) {
    console.log("edit coupon code is:", couponCode);
    const url = `couponEdit/${encodeURIComponent(couponCode)}`;
    window.location.href = url;

    console.log("here",url);
    fetch(url, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ couponCode: couponCode }),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        console.log('Edit response:', data);
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

</script>
<!-- -----another script for deleting the  coupon is here------ -->
<script>//deleting post fetch is here 
  function deleteCoupon(couponCode) {
    console.log("12312312312");
      console.log("delete coupon code is :", couponCode);
    
      const url = `couponDelete/${encodeURIComponent(couponCode)}`;
      console.log("url is here",url);
      window.location.href = url;

      fetch(url, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({ couponCode: couponCode }),
      })
      .then(response => {
          if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response.json();
      })
      .then(data => {
          console.log('Edit response:', data);
      })
      .catch(error => {
          console.error('Error:', error);
      });
    
  }
//here needed delete get and post methods

    </script>

   <footer class="tm-footer row tm-mt-small">
     <div class="col-12 font-weight-light">
       <p class="text-center text-white mb-0 px-4 small">
         Copyright &copy; <b>2018</b> All rights reserved. 
         Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
       </p>
     </div>
   </footer>

   <script src="/product-admin-master/js/jquery-3.3.1.min.js"></script>
   <script src="/product-admin-master/js/bootstrap.min.js"></script>

  <script>


  </script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
</html>
