<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/product-admin-master/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/product-admin-master/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/product-admin-master/css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="/admin/dashboardForAdmin">
                    <h1 class="tm-site-title mb-0">Product Admin</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>
      
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/dashboardForAdmin">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
      
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                    Reports <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Daily Report</a>
                                <a class="dropdown-item" href="#">Weekly Report</a>
                                <a class="dropdown-item" href="#">Yearly Report</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/productlist">
                                <i class="fas fa-shopping-cart"></i>
                                Products
                            </a>
                        </li>
      
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/usermanage">
                                <i class="far fa-user"></i>
                                user
                            </a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="/admin/returnOrderManage">
                                <i class="fas fa-reply-all"></i>
                                    Returns 
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link " href="/admin/couponmanage">
                                <i class="fas fa-ticket-alt"></i> <!-- Ticket Icon -->
                                Coupons                   
                            </a>
                         </li>

                         <li class="nav-item">
                            <a class="nav-link" href="/admin/couponAddingGet">
                              <i class="fas fa-plus-circle"></i> <!-- Plus Circle Icon -->
                              Add Coupons
                            </a>
                          </li>
                         
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="/admin/logout">
                                Admin, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
      
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
                </div>
            </div>



            <!-- row -->
            <div class="row tm-content-row" style="color: aquamarine;">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Weekly </h2>
                        <canvas id="weeklyChart">Weekly chart</canvas>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Monthly </h2>

                        <canvas  id="monthlyChart">Monthly chart</canvas>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller">
                        <h2 class="tm-block-title">Yearly</h2>

                        <div id="pieChartContainer">
                <!--here is the -->            <canvas  id="yearlyChart" class="chartjs-render-monitor" width="150" height="100">yearlyChart</canvas>
                        </div>                        
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <h2 class="tm-block-title">Download sales report</h2>
                        <form id="salesReportForm">
                            <div class="mb-3">
                                <label for="startDate" class="form-label">From Date:</label>
                                <input type="date" class="form-control" id="startDate" name="startDate" required>
                            </div>
                            <div class="mb-3">
                                <label for="endDate" class="form-label">To Date:</label>
                                <input type="date" class="form-control" id="endDate" name="endDate" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Generate Report</button>
                        </form>
                        <div class="tm-notification-items">
                            <!-- Add any notifications or results here -->
                        </div>
                    </div>
                </div>
                





                <% if (fullData && fullData.length>0) { %> 
                    <div class="col-12 tm-block-col">
                        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                            <h2 class="tm-block-title">Orders List</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ORDER ID</th>
                                        <th scope="col">TOTAL PRICE</th>
                                        <th scope="col">ORDER STATUS</th>
                                        <th scope="col">ADDRESS</th>
                                        <th scope="col">ORDER DATE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% fullData.forEach(function(item) { %>
                                        <tr>
                                            <th scope="row"><b><%= item.orderId %> </b></th>
                                            <td><%= item.totalPrice %> </td>
                                            <td>
                                                <form action="/admin/ordersPost/<%= item._id %>" method="post">
                                                    <select class="form-select" name="orderStatus" onchange="this.form.submit()">
                                                        <option value="Pending" <%= item.orderStatus === 'Pending' ? 'selected' : '' %>>Pending</option>
                                                        <option value="Confirm Order" <%= item.orderStatus === 'Confirm Order' ? 'selected' : '' %>>Confirm Order</option>
                                                        <option value="Shipped" <%= item.orderStatus === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                                        <option value="Out for delivery" <%= item.orderStatus === 'Out for delivery' ? 'selected' : '' %>>Out for delivery</option>
                                                        <option value="Delivered" <%= item.orderStatus === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                                    </select>
                                                </form>
                                            </td>
                                            <td><%= item.address.street %> , <%= item.address.city %> , <%= item.address.state %> - <%= item.address.zip %> , <%= item.address.country %> 
                                            </td>
                                            <td><%= item.orderDate %> </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% } %> 
                
            </div>

                <!-- Pagination -->
                <div class="pagination">
                    <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <% if (currentPage > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin/dashboardForAdmin?page=<%= currentPage - 1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% } %>
                
                        <% for (let i = 1; i < fullData.length; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                            <a class="page-link" href="/admin/dashboardForAdmin?page=<%= i %>"><%= i %></a>
                        </li>
                        <% } %>
                
                        <% if (currentPage < fullData.length) { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin/dashboardForAdmin?page=<%= currentPage + 1 %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                    </nav>
                </div>
                


        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved. 
                    
                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
            </div>
        </footer>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
         // Monthly Chart
        const monthlyOrderCounts ='<%= JSON.stringify(monthlyOrderCounts) %>';
       
        // const monthlyLabels = monthlyOrderCounts.map(entry => entry.month);
        // const monthlyValues = monthlyOrderCounts.map(entry => entry.totalOrders);

            const monthlyChartCanvas = document.getElementById('monthlyChart');
      
        new Chart(monthlyChartCanvas, {
          type: 'bar',
          data: {
            labels: ['JAN','FEB','MAR','APR','MAY','JUN','JULY','AUG','SEP','OCT','NOV','DEC'],
            datasets: [{
              label: 'ORDER',
              data:['<%=monthlyOrderCounts[0].totalOrders%>'],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });



            // Weekly Chart
    const weeklyOrderCount = '<%= JSON.stringify(weeklyOrderCount) %>';
    console.log('<%=weeklyOrderCount%>')
    const weeklyChartCanvas = document.getElementById('weeklyChart');
    new Chart(weeklyChartCanvas, {
          type: 'bar',
          data: {
            labels:['SUN','MON','TUE','WED','THURS','FRI','SAT',],
            datasets: [{
              label: 'Orders',
              data: weeklyOrderCount,//[12, 19, 3, 5, 2, 3],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script> 
        <% 
        console.log(weeklyOrderCount);
        %>
      <script>
  
        // Yearly Chart
        const yearlyOrderCount = '<%=JSON.stringify(yearlyOrderCount[0])%>';
        
        // const yearlyLabels = yearlyOrderCount.map(entry => entry.year);
        // const yearlyValues = yearlyOrderCount.map(entry => entry.totalOrders);
        const yearlyChartCanvas = document.getElementById('yearlyChart');
        new Chart(yearlyChartCanvas, {
              type: 'bar',
              data: {
                labels:[2024,2025,2026],
                datasets: [{
                  label: 'orders',
                  data: ['<%=yearlyOrderCount[0].totalOrders%>'],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
    </script>
    

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
    <!-- here is  the   code for the excel -->

    <!-- ... -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
         
            const dateFilterForm = document.getElementById("salesReportForm");
    
            dateFilterForm.addEventListener("submit", async function (event) {
                event.preventDefault();
    
                const startDate = document.getElementById("startDate").value;
                const endDate = document.getElementById("endDate").value;
    
                if (!startDate) {
                    showAlert('Please select a start date.', 'error');
                    return;
                }
    
                const currentDate = new Date();
                const selectedEndDate = new Date(endDate);
    
                if (selectedEndDate > currentDate) {
                    showAlert('End date cannot be greater than the present date.', 'error');
                    return;
                }
    
                if (startDate && endDate) {
                    const url = `/admin/exportOrdersToExcel?startDate=${startDate}&endDate=${endDate}`;
    
                    try {
                        const response = await fetch(url);
    
                        if (response.ok) {
                            const blob = await response.blob();
                                const a = document.createElement("a");
                            document.body.appendChild(a);
                            a.style = "display: none";
    
                            const blobUrl = URL.createObjectURL(blob);
                            a.href = blobUrl;
                                a.download = "sales_report.xls";
                                a.click();
                                document.body.removeChild(a);
                                showAlert("Sales report generated successfully!", "success");
                        } else {
                            console.error("Error fetching Excel data");
                            showAlert("Error fetching Excel data. Please try again.", "error");
                        }
                    } catch (error) {
                        console.error("Error:", error);
                        showAlert("Error generating sales report. Please try again.", "error");
                    }
                } else {
                    showAlert("Please select both start and end dates.", "error");
                }
            });
        });
    
        function showAlert(message, type) {
            Swal.fire({
                icon: type === "success" ? "success" : "error",
                title: type === "success" ? "Success" : "Error",
                text: message,
            });
        }
    </script>



    <script src="/product-admin-master/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/product-admin-master/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="/product-admin-master/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="/product-admin-master/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="/product-admin-master/js/tooplate-scripts.js"></script>
    
<!-- <script>
    function updateOrderStatus(orderId) {
        console.log("entered in to the updateOrderStatus");
        const selectedStatus = document.getElementById(`orderStatus-${orderId}`).value;
        console.log("order Status:", selectedStatus);
       console.log("orderID is:",orderId);
        fetch(`/admin/ordersPost/${orderId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ orderStatus: selectedStatus }),
          credentials: "same-origin",
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
</script> -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


</html>