<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- ... -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- ... -->
   
  <style>
    .element {
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 60px 80px 0px rgba(0,0,0,0.6),
0px 45px 26px 0px rgba(0,0,0,0.14);
  }
  </style>
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-purple" style="background-color: black;">
      <div class="container">
        <!-- Left side of the navbar -->
        <a class="navbar-brand" href="#">Shop Cartify</a>
    
        <!-- Responsive navbar toggle button for small screens -->
           <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Right side of the navbar -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <!-- Wishlist -->
            <li class="nav-item">
              <a class="nav-link" href="/wishlist">Wishlist</a>
            </li>
            <!-- My Cart -->
            <li class="nav-item">
              <a class="nav-link" href="/cartload">My Cart</a>
            </li>
            <!-- Logout -->
            <li class="nav-item">
              <a class="nav-link" href="/signout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="bg-light py-5">
    <div class="container">
      <div class="row">
        <!-- Checkout Details -->
        <div class="col-xl-8 col-lg-8 mb-4">
          <div class="card mb-4 border shadow-0">
            <!-- Checkout Form -->

            <form action="/checkoutpost" method="post">
              <!-- User Information -->
              <div class="card shadow-0 border">
                <div class="p-4">
                  <h5 class="card-title mb-3">Check out page</h5>
                  <!-- User Name -->
                  <div class="row">
                    <div class="col-6 mb-3">
                      <p class="mb-0">User name</p>
                      <div class="form-outline">
                        <input type="text" id="typename" name="username" class="form-control" value="<%= user.name %>" readonly />
                      </div>
                    </div>
                    <!-- Email -->
                    <div class="col-6 mb-3">
                      <p class="mb-0">Email</p>
                      <div class="form-outline">
                        <input type="email" id="typeemail"  name="email" class="form-control" value="<%= user.email %>" readonly />
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" />
                  <!-- Payment Type -->
                  <h5 class="card-title mb-3">Choose payment type</h5>
                  <!-- Payment Options -->
                  <div class="row mb-3">
                    <!-- Cash on Delivery -->

                    <div class="col-lg-4 mb-3">
                      <div class="form-check h-100 border rounded-3">
                        <div class="p-3">
                          <input class="form-check-input" type="radio" value="CashOnDelivery" name="paymentType" id="flexRadioDefault1"  checked />
                          <label class="form-check-label" for="flexRadioDefault1">Cash on delivery<br /></label>
                        </div>
                      </div>
                    </div>
                    <!-- Net Banking -->
                    <div class="col-lg-4 mb-3">
                      <div class="form-check h-100 border rounded-3">
                        <div class="p-3">
                          <input class="form-check-input" type="radio"   value="NetBanking"   name="paymentType" id="flexRadioDefault2" checked />
                          <label class="form-check-label" for="flexRadioDefault2">Net banking <br /></label>
                        </div>
                      </div>
                    </div>
                    <!-- Other Payment Option -->
                    <div class="col-lg-4 mb-3">
                      <!-- Add more payment options if needed -->
                    </div>
                  </div>
                  <!-- Address Selection -->
                  <div>
                    <% if (addresses && addresses.length > 0) { %>
                      <h5 class="card-title mb-3">Choose address</h5>
                      <!-- Address Selection Dropdown -->
                      <div class="mb-3">
                        <label for="addressSelect" class="form-label">Select Address</label>

                        <select class="form-select" id="addressSelect" name="selectedAddressId">
                          <option value="" disabled>Select an address</option>
                          <% addresses.forEach(address => { %>
                            <option value="<%= address._id %>" data-street="<%= address %>" data-city="<%= address %>" data-state="<%= address %>" data-zip="<%= address %>" data-country="<%= address %>">
                              <%= address.street %>: <%= address.city %>: <%= address.state %> :<%= address.zip %>: <%= address.country %>
                            </option>
                          <% }) %>
                        </select>
                        

                        <div>
                          <button type="button" class="btn btn-primary" id="addAddressBtn">Add Address</button>
                          <button class="btn btn-success shadow-0 border" type="submit">Continue</button>

                        </div>

                        <!-- Add Address Button -->
                      </div>
                      <!-- Checkout Buttons -->
                      <!-- <div class="float-end">
                        <button class="btn btn-light border">Cancel</button>
                      </div> -->
                    <% } else { %>
                      <p>No addresses found. Please add an address.</p>
                    <% } %>
                  </div>
                </div>
              </div>
          

          </div>
        </div>
        <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
        <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
          <h6 class="mb-3">Summary</h6>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
            <p class="mb-2">₹ <%= cartFound.total %></p>
          </div>
          <!-- <div class="d-flex justify-content-between">
            <p class="mb-2">Discount:</p>
            <p class="mb-2 text-danger">- ₹60.00</p>
          </div> -->
          <div class="d-flex justify-content-between">
            <p class="mb-2">Shipping cost:</p>
            <p class="mb-2">+ ₹14.00</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
            <input type="hidden" name="totalPrice" value="<%= cartFound.total+14 %>" /> ₹<%= cartFound.total+14 %>/-
          </div>
          
        </form>
          <!-- <div class="input-group mt-3 mb-4">
            <input type="text" class="form-control border" name="" placeholder="Promo code" />
            <button class="btn btn-light text-primary border">Apply</button>
          </div> -->

          <hr />
          <h6 class="text-dark my-4">Items in cart</h6>
          <% cartFound.products.forEach((product) => { %>
          <div class="d-flex align-items-center mb-4">
            <div class="me-3 position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                <%= product.quantity %>
              </span>
              <img src="<%= product.images && product.images[0]?.slice(6).length > 0 ? product.images[0]?.slice(6) : 'default-image-url' %>" style="height: 96px; width: 96x;" class="img-sm rounded border" />
            </div>
            <div class="">
              <a href="#" class="nav-link">
              <%= product.productId.name %><br />
              <!-- <%= product.productId.description %> -->
              </a>
              <div class="price text-muted">Price:₹ <%= product.price%></div>
            </div>
          </div>
          <% }); %>

     

         
        </div>

      </div>
    </div>
  </div>
  </section>
  
  
  
  <footer class="text-center text-lg-start text-muted mt-3" style="background-color: rgb(181, 134, 225);">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start pt-4 pb-4">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-12 col-lg-3 col-sm-12 mb-2">
            <!-- Content -->
            <a href="#" target="_blank" class="text-white h2">
              SHOP CARTIFY
            </a>
            <p class="mt-1 text-white">
              © 2023 Copyright: shopCartify
            </p>
          </div>
          <!-- Grid column --
       <!-- Grid column -->
       <div class="col-6 col-sm-4 col-lg-2">
        <!-- Links -->
        <h6 class="text-uppercase text-white fw-bold mb-2">
          Store
        </h6>
        <ul class="list-unstyled mb-4">
          <li><a class="text-white-50" href="#">About us</a></li>
          <li><a class="text-white-50" href="#">Find store</a></li>
          <li><a class="text-white-50" href="#">Categories</a></li>
          <li><a class="text-white-50" href="#">Blogs</a></li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-6 col-sm-4 col-lg-2">
        <!-- Links -->
        <h6 class="text-uppercase text-white fw-bold mb-2">
          Information
        </h6>
        <ul class="list-unstyled mb-4">
          <li><a class="text-white-50" href="#">Help center</a></li>
          <li><a class="text-white-50" href="#">Money refund</a></li>
          <li><a class="text-white-50" href="#">Shipping info</a></li>
          <li><a class="text-white-50" href="#">Refunds</a></li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-6 col-sm-4 col-lg-2">
        <!-- Links -->
        <h6 class="text-uppercase text-white fw-bold mb-2">
          Support
        </h6>
        <ul class="list-unstyled mb-4">
          <li><a class="text-white-50" href="#">Help center</a></li>
          <li><a class="text-white-50" href="#">Documents</a></li>
          <li><a class="text-white-50" href="#">Account restore</a></li>
          <li><a class="text-white-50" href="#">My orders</a></li>
        </ul>
      </div>
      <!-- Grid column -->


          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <div class="">
      <div class="container">
        <div class="d-flex justify-content-between py-4 border-top">
          <!--- payment --->
          <div>
            <i class="fab fa-lg fa-cc-visa text-white"></i>
            <i class="fab fa-lg fa-cc-amex text-white"></i>
            <i class="fab fa-lg fa-cc-mastercard text-white"></i>
            <i class="fab fa-lg fa-cc-paypal text-white"></i>
          </div>
          <!--- payment --->

          <!--- language selector --->
          <div class="dropdown dropup">
            <a class="dropdown-toggle text-white" href="#" id="Dropdown" role="button" data-mdb-toggle="dropdown"
              aria-expanded="false"> <i class="flag-united-kingdom flag m-0 me-1"></i>English </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Dropdown">
              <li>
                <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English <i
                    class="fa fa-check text-success ms-2"></i></a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
              </li>
            </ul>
          </div>
          <!--- language selector --->
        </div>
      </div>
    </div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#addAddressBtn').click(function() {
        // Assuming you want to redirect to a new page
        window.location.href = '/addAddressUser';
      });
    });

  </script>
  
  
  
</body>
</html>