<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shop Cartify</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/NEW TEMP/online-shop-website-template/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/NEW TEMP/online-shop-website-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/NEW TEMP/online-shop-website-template/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center h-100">
                    <a class="text-body mr-3" href="">shop cartify</a>
                    <a class="text-body mr-3" href=""></a>
    
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="/signout" class="dropdown-item">Logout</a>
                      </div>
                    </div>
                    <!-- <div class="btn-group mx-2">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">USD</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">EUR</button>
                            <button class="dropdown-item" type="button">GBP</button>
                            <button class="dropdown-item" type="button">CAD</button>
                        </div>
                    </div> -->
                    <!-- <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">EN</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">FR</button>
                            <button class="dropdown-item" type="button">AR</button>
                            <button class="dropdown-item" type="button">RU</button>
                        </div>
                    </div> -->

                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-heart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Shop</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Cartify</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
          
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">
                        <div class="nav-item dropdown dropright">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dresses <i class="fa fa-angle-right float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                <a href="/Totallistpro" class="dropdown-item">Men's Dresses</a>
                                <a href="/WomensTotallistpro" class="dropdown-item">Women's Dresses</a>

                            </div>
                        </div>
 
                    </div>
                </nav>
            </div>

            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Shop</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Cartify</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/home" class="nav-item nav-link active">Home</a>
                            <a href="/Totallistpro" class="nav-item nav-link">Shop</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="/cartload" class="dropdown-item">Shopping Cart</a>
                                    <a href="/checkout" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <!-- <a href="/NEW TEMP/online-shop-website-template/contact.html" class="nav-item nav-link">Contact</a> -->
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <!-- User Profile Icon -->
                            <a href="/profile" class="btn px-0">
                                <i class="fas fa-user text-primary"></i>
                            </a>
                        
                            <!-- Logout Icon -->
                            <a href="/signout" class="btn px-0 ml-3">
                                <i class="fas fa-sign-out-alt text-primary"></i>
                            </a>
                        
                            <!-- Wishlist Icon -->
                            <a href="" class="btn px-0 ml-3">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                        
                                <a href="/cartload" class="btn px-0 ml-3">
                                    <i class="fas fa-shopping-cart text-primary"></i>
                                    <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"> 0</span>
                                    <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                                </a>

                        </div>

                    </div>
                </nav>
            </div>



        </div>
    </div>
    <!-- Navbar End -->



  <section class="bg-light py-5">
    <div class="container">
      <div class="row">
        <!-- Checkout Details -->
        <div class="col-xl-8 col-lg-8 mb-4">
          <div class="card mb-4 border shadow-0">
            <!-- Checkout Form -->

            <form id="checkOutForm" action="/checkoutpost" method="post">
              <!-- User Information -->
              <div class="card shadow-0 border">
                <div class="p-4">
                  <h5 class="card-title mb-3">Check out page</h5>
                  <!-- User Name -->
                  <div class="row">
                    <div class="col-6 mb-3">
                      <p class="mb-0">User name</p>
                      <div class="form-outline">
                        <input type="text" id="typename" name="username" class="form-control" value="<%= user.name %>" readonly />
                      </div>
                    </div>
                    <!-- Email -->
                    <div class="col-6 mb-3">
                      <p class="mb-0">Email</p>
                      <div class="form-outline">
                        <input type="email" id="typeemail"  name="email" class="form-control" value="<%= user.email %>" readonly />
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" />
                  <!-- Payment Type -->
                  <h5 class="card-title mb-3">Choose payment type</h5>
                  <!-- Payment Options -->
                  <div class="row mb-3">
                    <!-- Cash on Delivery -->

                    <div class="col-lg-4 mb-3">
                      <div class="form-check h-100 border rounded-3">
                        <div class="p-3">
                          <input class="form-check-input" type="radio" value="CashOnDelivery" name="paymentType" id="flexRadioDefault1"  checked />
                          <label class="form-check-label" for="flexRadioDefault1">Cash on delivery<br /></label>
                        </div>
                      </div>
                    </div>
                    <!-- Net Banking -->
                    <div class="col-lg-4 mb-3">
                      <div class="form-check h-100 border rounded-3">
                        <div class="p-3">
                          <input class="form-check-input" type="radio"    value="NetBanking"   name="paymentType" id="flexRadioDefault2" checked />
                          <label class="form-check-label" for="flexRadioDefault2">Net banking <br /></label>
                        </div>
                      </div>
                    </div>
                    <!-- Other Payment Option -->
                    <div class="col-lg-4 mb-3">
                      <!-- Add more payment options if needed -->
                    </div>
                  </div>

                  <!-- Address Selection -->
                  <div>
                    <% if (addresses && addresses.length > 0) { %>
                      <h5 class="card-title mb-3">Choose address</h5>
                      <!-- Address Selection Dropdown -->
                      <div class="mb-3">
                        <label for="addressSelect" class="form-label">Select Address</label>

                        <select class="form-select" id="addressSelect" name="selectedAddressId">
                          <option value="" disabled>Select an address</option>
                          <% addresses.forEach(address => { %>
                            <option value="<%= address._id %>" data-street="<%= address %>" data-city="<%= address %>" data-state="<%= address %>" data-zip="<%= address %>" data-country="<%= address %>">
                              <%= address.street %>: <%= address.city %>: <%= address.state %> :<%= address.zip %>: <%= address.country %>
                            </option>
                          <% }) %>
                        </select>
                        

                        <div>
                          <button type="button" class="btn btn-primary" id="addAddressBtn">Add Address </button>
                          <button class="btn btn-success shadow-0 border" type="submit">Continue</button>

                        </div>

                        <!-- Add Address Button -->
                      </div>
                      <!-- Checkout Buttons -->
                      <!-- <div class="float-end">
                        <button class="btn btn-light border">Cancel</button>
                      </div> -->
                    <% } else { %>
                      <p>No addresses found. Please add an address.</p>
                    <% } %>
                  </div>
                </div>
              </div>
              <input type="hidden" name="totalPrice" value="<%= cartFound.total+14 %>" />
          </form>
          
<!-- <-----form ending---> 
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
        <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
          <h6 class="mb-3">Summary</h6>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
            <p class="mb-2">₹ <%= cartFound.total %></p>
          </div>
          <!-- <div class="d-flex justify-content-between">
            <p class="mb-2">Discount:</p>
            <p class="mb-2 text-danger">- ₹60.00</p>
          </div> -->
          <div class="d-flex justify-content-between">
            <p class="mb-2">Shipping cost:</p>
            <p class="mb-2">+ ₹14.00</p>
          </div>
          <hr />

          <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
             ₹<%= cartFound.total+14 %>/-
          </div>
          
        </form>
          <!-- <div class="input-group mt-3 mb-4">
            <input type="text" class="form-control border" name="" placeholder="Promo code" />
            <button class="btn btn-light text-primary border">Apply</button>
          </div> -->

          <hr />
        
          <h6 class="text-dark my-4">Items in cart</h6>
          <% cartFound.products.forEach((product) => { %>
          <div class="d-flex align-items-center mb-4">

            <div class="me-3 position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                <%= product.quantity %>
              </span>
              <img src="<%= product.images && product.images[0]?.slice(6).length > 0 ? product.images[0]?.slice(6) : 'default-image-url' %>" style="height: 96px; width: 96x;" class="img-sm rounded border" />
            </div>

            <div class="">
              <a href="#" class="nav-link">
              <%= product.productId.name %><br />
              <!-- <%= product.productId.description %> -->
              </a>
              <div class="price text-muted">Price:₹ <%= product.price%></div>
            </div>
          </div>
          <% }); %>

     

         
        </div>

      </div>
    </div>
  </div>
  </section>
  
  
   
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
      <div class="row px-xl-5 pt-5">
          <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
              <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
              <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
              <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
              <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
              <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
          </div>
          <div class="col-lg-8 col-md-12">
              <div class="row">
                  <div class="col-md-4 mb-5">
                      <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                      <div class="d-flex flex-column justify-content-start">
                          <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                          <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                          <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                          <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                          <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                          <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                      </div>
                  </div>
                  <div class="col-md-4 mb-5">
                      <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                      <div class="d-flex flex-column justify-content-start">
                          <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                          <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                          <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                          <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                          <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                          <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                      </div>
                  </div>
                  <div class="col-md-4 mb-5">
                      <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                      <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                      <form action="">
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="Your Email Address">
                              <div class="input-group-append">
                                  <button class="btn btn-primary">Sign Up</button>
                              </div>
                          </div>
                      </form>
                      <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                      <div class="d-flex">
                          <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                          <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
          <div class="col-md-6 px-xl-0">
              <p class="mb-md-0 text-center text-md-left text-secondary">
                  &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                  by
                  <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
              </p>
          </div>
          <div class="col-md-6 px-xl-0 text-center text-md-right">
              <img class="img-fluid" src="/NEW TEMP/online-shop-website-template/img/payments.png" alt="">
          </div>
      </div>
  </div>
  <!-- Footer End -->
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


  <!-- ---razorpay working script--- -->

  <script>
    document.querySelector('#checkOutForm').addEventListener('submit', function (event) {
      event.preventDefault();
      var paymentType = document.querySelector('input[name="paymentType"]:checked').value;
      console.log("payment ",paymentType);
      
      // Get the selected payment method
      if (paymentType == 'NetBanking') {
        console.log("inside net");
        var razorpayKey = 'rzp_test_Jbmx59qoOc1tKj';
        
        // Fetch other necessary details for the payment
        var totalPriceInRupees = document.querySelector('input[name="totalPrice"]').value;
            var totalPriceInPaisa = Math.round(parseFloat(totalPriceInRupees) * 100);

            fetch('/payPost', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ totalPrice: totalPriceInPaisa }),
            })

          .then(response => response.json())

          .then(order => {
            console.log(order);
            // Initialize Razorpay
            const  options = {
            key: 'rzp_test_Jbmx59qoOc1tKj',
            amount: order.amount,
            currency: order.currency,
            order_id: order.id,
            name: 'ShopCartify',
            description: 'Payment for your orders',
            theme:{
                color:"#FFD333"
            },
            handler: function (response) {
                // here handling the success response
                console.log('Payment success:', response);
  
                // Now you can submit the form to complete the checkout process
                document.querySelector('#checkOutForm').submit();
              },
              prefill: {
                name: 'User Name',
                email: 'user@example.com',
              },
            };
  
            var rzp = new Razorpay(options);
            rzp.open();
          })
          .catch(error => {
            console.error('Error creating Razorpay order:', error);
            // Handle the error if needed
          });
      } else if (selectedPaymentMethod === 'CashOnDelivery') {
        // If the payment method is Cash on Delivery, submit the form directly
        document.querySelector('#checkOutForm').submit();
      } else {
        // If the payment method is not Razorpay or Cash on Delivery, you can handle it accordingly
        alert('Invalid payment method selected.');
      }
    });
  </script>
<!-- ----ending of the razoray script---- -->
    

  <!-- Back to Top -->
  <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
  <script>
    var addAddressBtn = document.getElementById('addAddressBtn');
  
    addAddressBtn.addEventListener('click', function() {
      window.location.href = '/addAddressUser';
    });
  </script>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="/NEW TEMP/online-shop-website-template/lib/easing/easing.min.js"></script>
  <script src="/NEW TEMP/online-shop-website-template/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Javascript File -->
  <script src="/NEW TEMP/online-shop-website-template/mail/jqBootstrapValidation.min.js"></script>
  <script src="/NEW TEMP/online-shop-website-template/mail/contact.js"></script>

  <!-- Template Javascript -->
  <script src="/NEW TEMP/online-shop-website-template/js/main.js"></script>