<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>

@media screen and (max-width: 576px) {
            .order-heading {
                font-size: 20px;
            }

            .table-responsive {
                overflow-x: auto;
            }
        body {
            background-color: #f0f0f0; /* Set a light grey background for the body */
        }
    }
        .container {
            background-color: #fff; /* Set a white background for the container */
            border-radius: 10px; /* Add border-radius for curvy edges */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow for a subtle shadow effect */
            overflow: hidden; /* Hide overflow to prevent shadow clipping */
            margin-top: 20px;
            padding: 20px;
        }

        .order-heading {
            text-align: center;
            margin-top: 30px;
            font-size: 24px;
            font-weight: bold;
            color: #c32828; /* Set a dark color for the heading */
        }

        .table-responsive {
            margin-top: 20px;
        }

        .table {
            border-collapse: separate;
            border-spacing: 0 15px; /* Add spacing between rows */
            width: 100%;
            margin-top: 10px;
        }

        .table th,
        .table td {
            text-align: left;
            vertical-align: middle;
            background-color: #000000;
            color:#ffffff; /* Set a yellow background for header cells */
            padding: 15px;
            border: 1px solid #ddd; /* Add a light grey border for cells */
        }

        .table thead th {
            background-color: #af2b2b; /* Set a dark grey background for header */
            color: #1d1a1a; /* Set a white color for header text */
            border-color: #141313; /* Set a slightly darker border color for header cells */
        }

        @media screen and (max-width: 576px) {
            /* Add responsive styles for small screens */
            .table th,
            .table td {
                display: block;
                width: 100%;
                box-sizing: border-box;
            }
        }
    </style>
  <link href="img/favicon.ico" rel="icon">
    


  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="/NEW TEMP/online-shop-website-template/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/NEW TEMP/online-shop-website-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/NEW TEMP/online-shop-website-template/css/style.css" rel="stylesheet">

</head>



<body>
  <!-- Topbar Start -->
  <div class="container-fluid">
      <div class="row bg-secondary py-1 px-xl-5">
          <div class="col-lg-6 d-none d-lg-block">
              <div class="d-inline-flex align-items-center h-100">
                  <a class="text-body mr-3" href="">shop cartify</a>
                  <a class="text-body mr-3" href=""></a>
  
              </div>
          </div>
          <div class="col-lg-6 text-center text-lg-right">
              <div class="d-inline-flex align-items-center">
                  <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a href="/signout" class="dropdown-item">Logout</a>
                      </div>
                  </div>

              </div>
              <div class="d-inline-flex align-items-center d-block d-lg-none">
                  <a href="" class="btn px-0 ml-2">
                      <i class="fas fa-heart text-dark"></i>
                      <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                  </a>
                  <a href="" class="btn px-0 ml-2">
                      <i class="fas fa-shopping-cart text-dark"></i>
                      <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                  </a>
              </div>
          </div>
      </div>
      <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
          <div class="col-lg-4">
              <a href="" class="text-decoration-none">
                  <span class="h1 text-uppercase text-primary bg-dark px-2">Shop</span>
                  <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Cartify</span>
              </a>
          </div>
        
        
      </div>
  </div>
  <!-- Topbar End -->


  <!-- Navbar Start -->
  <div class="container-fluid bg-dark mb-30">
      <div class="row px-xl-5">
          <div class="col-lg-3 d-none d-lg-block">
              <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                  <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                  <i class="fa fa-angle-down text-dark"></i>
              </a>
              <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                  <div class="navbar-nav w-100">
                      <div class="nav-item dropdown dropright">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dresses <i class="fa fa-angle-right float-right mt-1"></i></a>
                          <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                              <a href="/Totallistpro" class="dropdown-item">Men's Dresses</a>
                              <a href="/WomensTotallistpro" class="dropdown-item">Women's Dresses</a>

                          </div>
                      </div>

                  </div>
              </nav>
          </div>

          <div class="col-lg-9">
              <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                  <a href="" class="text-decoration-none d-block d-lg-none">
                      <span class="h1 text-uppercase text-dark bg-light px-2">Shop</span>
                      <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Cartify</span>
                  </a>
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                      <div class="navbar-nav mr-auto py-0">
                          <a href="/home" class="nav-item nav-link active">Home</a>
                          <a href="/Totallistpro" class="nav-item nav-link">Shop</a>
                          <div class="nav-item dropdown">
                              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down mt-1"></i></a>
                              <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                  <a href="/cartload" class="dropdown-item">Shopping Cart</a>
                                  <a href="/checkout" class="dropdown-item">Checkout</a>
                              </div>
                          </div>
                          <!-- <a href="/NEW TEMP/online-shop-website-template/contact.html" class="nav-item nav-link">Contact</a> -->
                      </div>
                      <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                          <!-- User Profile Icon -->
                          <a href="/profile" class="btn px-0">
                              <i class="fas fa-user text-primary"></i>
                          </a>
                      
                          <!-- Logout Icon -->
                          <a href="/signout" class="btn px-0 ml-3">
                              <i class="fas fa-sign-out-alt text-primary"></i>
                          </a>
                      
                          <!-- Wishlist Icon -->
                          <a href="" class="btn px-0 ml-3">
                              <i class="fas fa-heart text-primary"></i>
                              <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                          </a>
                      
                              <a href="/cartload" class="btn px-0 ml-3">
                                  <i class="fas fa-shopping-cart text-primary"></i>
                                  <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"> 0</span>
                                  <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                              </a>

                      </div>

                  </div>
              </nav>
          </div>



      </div>
  </div>
  <!-- Navbar End -->

    <div class="container">
        <div class="order-heading">Order Details</div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Order details</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (orders) { %>
                        <% orders.forEach((order, index) => { %>
                            <tr>
                                <td data-label="#"> <%= index + 1 %> </td>
                                <td data-label="Order ID"><%= order.orderId %> </td>
                                <td data-label="Product Name">
                                    <% order.productdetails.forEach(product => { %>
                                        <%= product.name %><br>
                                    <% }); %>
                                </td>
                                <td data-label="Total Price"> <%= order.totalPrice %>/- </td>
                                <td>
                                    <form action="/SingleOrderlist/<%= order._id%>" method="post">
                                        <button type="submit" class="btn btn-secondary;" style="background-color: #ffffff;border-radius: 5px;">
                                            <span data-label="Order Status" style="color: #000000;">info</span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
                
            </table>
        </div>
    </div>
    
 <!-- Footer Start -->
 <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
            <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                    <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email Address">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Sign Up</button>
                            </div>
                        </div>
                    </form>
                    <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <!-- <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-"></i></a> -->
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                by
                <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="/NEW TEMP/online-shop-website-template/img/payments.png" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i>GO</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function updatePagination(currentPage, totalPages) {
            const paginationContainer = document.getElementById('pagination-container');
            paginationContainer.innerHTML = '';

            for (let i = 1; i <= totalPages; i++) {
                const pageLink = document.createElement('a');
                pageLink.href = `?page=${i}`; 
                pageLink.textContent = i;
                pageLink.classList.add('page-link');

                if (i ===  currentPage) {
                    pageLink.classList.add('active');
                }

                const pageItem = document.createElement('li');
                pageItem.classList.add('page-item');
                pageItem.appendChild(pageLink);

                paginationContainer.appendChild(pageItem);
            }
        }

        // Example data (replace with actual data)
        const currentPage = 1;
        const totalPages = 3;

        // Call the function to initialize pagination
        updatePagination(currentPage, totalPages);
    });
</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/NEW TEMP/online-shop-website-template/lib/easing/easing.min.js"></script>
<script src="/NEW TEMP/online-shop-website-template/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="/NEW TEMP/online-shop-website-template/mail/jqBootstrapValidation.min.js"></script>
<script src="/NEW TEMP/online-shop-website-template/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="/NEW TEMP/online-shop-website-template/js/main.js"></script>
</body>

</html>