<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .gradient-custom {
            background: #fcf6ff;
            background: -webkit-linear-gradient(to top left, #FFD333, rgba(246, 243, 255, 1));
            background: linear-gradient(to top left, rgb(87, 87, 82), rgba(246, 243, 255, 1));
        }   

        .quantity-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transform: translateY(-4px);
            transition: box-shadow 0.3s ease, transform 0.3s ease;
        }

        .order-container {
            margin: 20px;
            background-color: rgb(250, 234, 88);
            padding: 20px;
            border-radius: 1px;
            box-shadow: 0 0 10px rgb(255, 255, 255);
            overflow: hidden;
        }

        #returnButton{
            background-color: green;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        .btn-primary {
            background-color: #007BFF;
            border-color: #007BFF;
            color: white;
        }

        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
            color: white;
        }

        .btn-secondary {
            /* background-color: #6c757d; */
                /* border-color: #6c757d; */
            color: white;
        }

        .btn {
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>

<link href="img/favicon.ico" rel="icon">
    

<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>

<!-- Google Web Fonts -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="/NEW TEMP/online-shop-website-template/lib/animate/animate.min.css" rel="stylesheet">
<link href="/NEW TEMP/online-shop-website-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="/NEW TEMP/online-shop-website-template/css/style.css" rel="stylesheet">
</head>
<body style="background-color: #6c757d;">
    <%- include('animate.ejs') %> 
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center h-100">
                    <a class="text-body mr-3" href="">shop cartify</a>
                    <a class="text-body mr-3" href=""></a>
    
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/signout" class="dropdown-item">Logout</a>
                        </div>
                    </div>
  
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-heart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center  py-3 px-xl-5 d-none d-lg-flex"   style="background-color: #6c757d;">
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Shop</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Cartify</span>
                </a>
            </div>
 
          
        </div>
    </div>
    <!-- Topbar End -->
  
  
    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">
                        <div class="nav-item dropdown dropright">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dresses <i class="fa fa-angle-right float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                <a href="/Totallistpro" class="dropdown-item">Men's Dresses</a>
                                <a href="/WomensTotallistpro" class="dropdown-item">Women's Dresses</a>
  
                            </div>
                        </div>
  
                    </div>
                </nav>
            </div>
  
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Shop</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Cartify</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/home" class="nav-item nav-link active">Home</a>
                            <a href="/Totallistpro" class="nav-item nav-link">Shop</a>
                            
                            <!-- <a href="/NEW TEMP/online-shop-website-template/contact.html" class="nav-item nav-link">Contact</a> -->
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <!-- User Profile Icon -->
                            <a href="/profile" class="btn px-0">
                                <i class="fas fa-user text-primary"></i>
                            </a>
                        
                            <!-- Logout Icon -->
                            <a href="/signout" class="btn px-0 ml-3">
                                <i class="fas fa-sign-out-alt text-primary"></i>
                            </a>
                        
                            <!-- Wishlist Icon -->
                            <a href="/whishlist-get" class="btn px-0 ml-3">
                                        <i class="fas fa-heart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"></span>
                            </a>
                        
                                <a href="/cartload" class="btn px-0 ml-3">
                                    <i class="fas fa-shopping-cart text-primary"></i>
                                    <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"></span>
                                    <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"></span>
                                </a>
  
                        </div>
  
                    </div>
                </nav>
            </div>
  
  
  
        </div>
    </div>
    <!-- Navbar End -->
  
    <section class="container-fluid gradient-custom py-5">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
              <div class="card" style="border-radius: 10px;">
                <div class="card-header px-4 py-5">
                  <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #c715a0;"><%= orderDetails.username %></span>!</h5>
                </div>
                <div class="card-body p-4">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0" style="color: #0e0d0e; text-decoration: none;">PAYMENT MODE:<%= orderDetails.paymentType %></p>
                    <p class="small text-muted mb-0">ORDER ID : <%= orderDetails.orderId %></p>
                  </div>


                  <% for (const product of productsWithImages) { %>

                    <div class="card shadow-0 border mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <% console.log('%*^%&*%^^the product images', product); %>
                                    <img src="<%= product.images[0]?.slice(6) %>" class="img-fluid" alt="Product Image">
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0"><b><%= product.name %></b></p>
                                </div>
                                
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small" style="color: #0e0d0e;"><b>price:₹<%= product.price %></b></p>
                                </div>
                
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small" style="color: #0e0d0e;"><b>Quantity:<%= product.quantity %></b></p>
                                </div>
                
                                <div class="col-md-4 text-center d-flex justify-content-center align-items-center ">
                                    <p class="text-muted mb-0 small"><b>
                                        <%= orderDetails.address.city %><br>
                                        <%= orderDetails.address.street %><br>
                                        <%= orderDetails.address.state %><br>
                                        <%= orderDetails.address.zip %></b>
                                    </p>
                                </div>
                            </div>
                            <hr class="mb-4" style="background-color: #ffffff; opacity: 1;">
                            <div class="row d-flex align-items-center">
                                <!-- Additional details or actions can be added here -->
                            </div>
                        </div>
                    </div>
                
                <% } %>
                
            <!-- ........ -->
            <div class="col-md-10">
                <div class="progress" style="height: 6px; border-radius: 16px;">
                    <div class="progress-bar" role="progressbar"
                         style="width: 50%; border-radius: 30px; background-color: #b44f4f;"
                         aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="container order-container">
                    <div class="order-status">
                        <% if (orderDetails.orderStatus === 'Delivered') { %>
                            <form id="returnForm" action="/RetrunProduct/<%= orderDetails._id %>" method="post">
                                <input type="hidden" name="order_id" value="<%= orderDetails._id %>">
                                <button type="submit" id="returnButton" class="btn btn-secondary" onclick="event.preventDefault(); hideButton();">
                                    Return?
                                </button>
                                <h5 style="color: #0e0d0e;"> <%= specificReturnStatus?.status %></h5>
                                <!-- Add delivered icon -->
                                <i class="fas fa-check-circle"></i>
                            </form>
                            <div class="col-md-2 text-center d-flex justify-content-between align-items-center">
                                <!-- Here is the code for the download invoice button -->
                                <button class="btn btn-primary" onclick="dwnlodInvoice()"> DownLoad Invoice</button>
                            </div>
                        <% } else if (orderDetails.orderStatus === 'Cancelled') { %>
                            <h2 style="text-decoration-thickness: 30px; color: #6c757d;">Sorry!</h2>
                            <h4 style="color: #6c757d">This order is cancelled</h4>
                            <!-- Add cancelled icon -->
                            <i class="fas fa-times-circle"></i>
                        <% } else { %>
                            <h4 style="align-content: center;"> Your order is now : <%= orderDetails.orderStatus %></h4>
                            <form action="/cancelOrders/<%= orderDetails._id %>" method="post">
                                <button class="btn btn-success" type="submit">
                                    <span class="text-gray">Cancel Your Order</span>
                                </button>
                            </form>
                            <!-- Add processing icon -->
                            <i class="fas fa-spinner"></i>
                        <% } %>
                    </div>
                    <div class="d-flex justify-content-around mb-1">
                        <p class="text-muted mt-1 mb-0 small ms-xl-5"><%= orderDetails.orderStatus %></p>
                        <p class="text-muted mt-1 mb-0 small ms-xl-5"></p>
                    </div>
                </div>
                
                <!-- ......... -->
                
                <div class="d-flex justify-content-between pt-2">
                    <p class="fw-bold mb-0">Order Details</p>
                    <p class="text-muted mb-0"><span class="fw-bold me-4">Amount: </span>₹ <%= orderDetails.totalPrice - 14 %></p><!--shipping cost 14 ruppes--> 
                </div>
                
                <!-- Add icons for invoice, invoice date, etc. as needed -->
                
                <div class="d-flex justify-content-between pt-2">
                    <p class="fw-bold mb-0">shipping cost</p>
                    <p class="text-muted mb-0"><span class="fw-bold me-4">Shipping cost: </span>₹ 14/-</p>
                </div>
                <hr>
                <div class="d-flex justify-content-between pt-2">
                    <p class="fw-bold mb-0">Order Details</p>
                    <p class="text-muted mb-0"><span class="fw-bold me-4">Total: </span>₹ <%= orderDetails.totalPrice  %></p><!--shipping cost 14 ruppes--> 
                </div>
            </div>
            
        <!--  above is the code -->
        <!-- <div class="card-footer border-0 px-4 py-5"
        style="background-color: #757469; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
        <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
            paid: <span class="h2 mb-0 ms-2">₹ <%= orderDetails.totalPrice %></span></h5>
        </div> -->
    </div>
</div>
</div>
</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>
<script>
    function dwnlodInvoice() {
      const orderId = '<%= orderDetails._id %>';
  
      fetch(`/invoice/${orderId}`)
        .then(response => response.json())
        .then(data => {
          const { orderData, orderProducts, userData, addressDetails } = data;
            console.log("the product data is:",orderProducts);
          var invoiceData = {
            "images": {
              "logo": "https://public.budgetinvoice.com/img/logo_en_original.png",
              "background": "https://public.easyinvoice.cloud/img/watermark-draft.jpg"
            },
            "sender": {
              "company": "ShopCartify",
              "address": "ShopCartify Pvt limited",
              "zip": "689508",
              "city": "Kerala",
              "country": "India"
            },
            "client": {
              "company": userData.name,
              "address": `${addressDetails.street}, ${addressDetails.city}, ${addressDetails.state}, ${addressDetails.zip}, ${addressDetails.country}`
            },
            "information": {
              "number": orderData.orderId,
              "date":  new Date(orderData.orderDate).toLocaleDateString()
            },
            "products": orderProducts.map(product => ({
              "quantity": product.quantity ,
              "description": product.name,
              "tax-rate":  0,
              "price": product.price ||  0,
              "total": (product.quantity ) * (product.price ||  0),
              "subtotal": orderData.productdetails.reduce((sum, product) => {
                return sum + (product.quantity ) * (product.price ||  0);
              },  0),
            })),
            "bottom-notice": "Thank you for Shopping with ShopCartify.",
            "settings": {
              "currency": "INR",
              "locale": "nl-NL",
              "margin-top":  25,
              "margin-left":  25,
              "margin-bottom":  25,
              "format": "A4",
              "height": "1000px",
              "width": "500px",
              "orientation": "landscape"
            },
            "translate": {
              "invoice": "SHOPCARTIFY",
              "number": "Order_ID",
              "date": "data",
              "subtotal": "subtotal",
              "products": "Products",
              "price": "Price",
              "product-total": "total",
              "total": "Grant Total",
              "vat": "btw"
            },
          };
          console.log("Downliading started!!!!!!!!!!!!!!!!!!!!!!!!")
  
          easyinvoice.createInvoice(invoiceData, function(result) {
            easyinvoice.download("invoice.pdf");
          });
        })
        .catch(error => {
          console.error('Error fetching order data:', error);
        });
    }
  </script>
  

<script>
function hideButton() {

  var itemId = '<%= orderDetails._id %>'; 
  localStorage.setItem('buttonClicked_' + itemId, true);

  var returnButton = document.getElementById('returnButton');
  if (returnButton) {
      returnButton.style.display = 'none';
  }

  document.getElementById('returnForm').submit();
}

window.onload = function() {
  var itemId = '<%= orderDetails._id %>'; 

  
  if (localStorage.getItem('buttonClicked_' + itemId)) {

      var returnButton = document.getElementById('returnButton');
      if (returnButton) {
          returnButton.style.display = 'none';
      }
  }
};

</script>

 <script>
          var orderStatus = "<%= orderDetails.orderStatus %>";
            function updateProgressBar() {
              var progressBar = document.querySelector('.progress-bar');
              var orderStatusText = document.getElementById('orderStatusText');
  
              switch (orderStatus) {
                  case 'Pending':
                      progressBar.style.width = '25%';
                      break;
                  case 'Confirm Order':
                      progressBar.style.width = '50%';
                      break;
                  case 'Shipped':
                      progressBar.style.width = '75%';
                      break;
                  case 'Out for Delivery':
                      progressBar.style.width = '85%';
                      break;
                  case 'Delivered':
                      progressBar.style.width = '100%';
                      break;
                  default:
                      progressBar.style.width = '0%';
              }
  
              orderStatusText.textContent = 'Order Status: ' + orderStatus;
          }
            updateProgressBar();
      </script>

</body>
</html>
