<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body{margin-top:20px;
color: #bcd0f7;
    background: #1A233A;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
}
.account-settings .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
}
.card {
    background: #272E48;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
.form-control {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #1A233A;
    color: #bcd0f7;
}
    </style>
<body>

    <div class="container">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">

                <div class="card h-100">
                    <div class="card-body">


                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Maxwell Admin">
                                </div>
                                <h5 class="user-name"><%= user.name %></h5>
                                <!-- <h6 class="user-email">ashish john</h6> -->
                            </div>

    
                            <div>
                                <a href="#" id="getButton" class="btn btn-glacier btn-lg" style="background-color: aqua;">
                                    <i class="fas fa-info me-2"></i> order list
                                </a>
                            </div>
                            

                            <div>
                                <a href="#" id="getButton" class="btn btn-glacier btn-lg"  style="background-color: aqua;">
                                    <i class="fas fa-info me-2"></i> Wallet
                                </a>
                            </div>
                            

                            <div>
                                <a href="/addAddressUser" id="getButton" class="btn btn-glacier btn-lg" style="background-color: aqua;">
                                    <i class="fas fa-info me-2"></i> Add Address
                                </a>
                            </div>

                             


                            <div>
                                <button id="getButton" type="button" class="btn btn-light btn-lg">
                                    <i class="fas fa-info me-2"></i> 
                                </button>
                            </div>
                            
                            <div>
                                <button style="background-color: #272E48;color: azure;"></button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
    
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">

                <div class="card h-100">
                    <div class="card-body">

                        <form action="/Userdetails" method="post">

<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h6 class="mb-3 text-primary">Personal Details</h6>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Enter full name"  readonly value="<%= user.name %>">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label for="eMail">Email</label>
            <input type="email" class="form-control" id="eMail" placeholder="Enter email ID" readonly value="<%= user.email %>" >
        </div>
    </div>
</div>

    
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mb-3 text-primary">Address</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Street">Street</label>
                                        <input type="name" class="form-control" id="Street" placeholder="Enter Street" name="street" value="<%= (user.address && user.address[0]) ? user.address[0].street : '' %>" readonly>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="sTate">Country</label>
                                        <input type="text" class="form-control" id="sTate" placeholder="Enter State" name="country"value="<%= (user.address && user.address[0]) ? user.address[0].country : '' %>"readonly >
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="ciTy">City</label>
                                        <input type="name" class="form-control" id="ciTy" placeholder="Enter City" name="city" value="<%= (user.address && user.address[0]) ? user.address[0].city : '' %>" readonly>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="sTate">State</label>
                                        <input type="text" class="form-control" id="sTate" placeholder="Enter State" name="state"   value="<%= (user.address && user.address[0]) ? user.address[0].state : '' %>" readonly>
                                    </div>
                                </div>
        
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="zip">Zip Code</label>
                                        <input type="text" class="form-control" id="zip" placeholder="Zip Code" name="zip"  value="<%= (user.address && user.address[0]) ? user.address[0].zip : '' %>" readonly>
                                    </div>
                                </div>
                            </div>
    
                            <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div> -->
                        </form>

                    </div>
                </div>
            
            </div>

        </div>
    </div>
    

        </div>
       
         
   
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>